<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestNGListener">
	<listeners>
		<listener class-name="TestNGListeners.Listeners"></listener>
	</listeners>
	<test thread-count="1" name="Test">
		<classes>
			<class name="TestCases.Test1"/> 
			<class name="TestCases.Test2"/>
			
<!-- 			<methods>
				<include name="logIn" />
				<exclude name="logOut" />
			</methods> -->
		</classes>
		
	</test> <!-- Test1 -->
</suite> <!-- TestNGListener -->
